<%- include("./partials/head.ejs") %>  

    <%- include("./partials/nav.ejs") %>   
    <main>
        <div>
            <h1>Some of the books our users have posted:</h1>
            <ul>
                <li>Book1</li>
                <li>Book2</li>
                <li>Book3</li>
                <li>Book4</li>
                <li>Book5</li>
            </ul>
        </div>
    </main>
<%- include("./partials/footer.ejs") %>